<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.admin.mapper.MessageMapper">


    <resultMap type="com.xiaoshu.admin.entity.Message" id="MessageMap">
        <result property="fromU" column="fromU"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="messageType" column="messageType"/>
        <result property="toUser" column="toUser"/>
        <result property="isLook" column="isLook"/>
        <result property="sendTime" column="sendTime"/>
        <collection property="fromUser"  ofType="com.xiaoshu.admin.entity.User">
            <result property="id" column="fromUser.id"/>
            <result property="loginName" column="login_name"/>
            <result property="nickName" column="nick_name"/>
        </collection>
    </resultMap>

    <insert id="saveMessage">
        INSERT INTO t_message
        (id,fromU,title,content,messageType,isLook,sendTime,toUser)
        VALUES
        (NULL ,#{fromU},#{title},#{content},#{messageType},0,now(),#{toUser});
    </insert>

    <select id="selectMessageList" resultMap="MessageMap" parameterType="String">
        select tm.*,su.* from t_message tm
        LEFT JOIN sys_user su ON  tm.fromU=su.id
        where toUser=#{toUser};
    </select>
</mapper>